<% layout('../layout/boilerplate') %>
<div class="row">
	<div class="col-md-6 offset-3">
		<div class="card" style="width: 18rem">
			<img src="<%= camp.image %> " class="card-img-top" alt="..." />
			<div class="card-body">
				<h5 class="card-title"><%= camp.title %></h5>
				<p class="card-text"><%= camp.description %></p>
			</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item"><b>Location: </b><%= camp.location %></li>
				<li class="list-group-item"><b>Price: </b><%= camp.price %></li>
			</ul>
			<div class="card-body">
				<div class="row">
					<div class="col-md-auto">
						<a href="/campground/<%= camp._id %>/edit"
							><button class="btn btn-primary btn-sm">Edit</button></a
						>
					</div>
					<div class="col-md-auto">
						<form
							action="/campground/<%= camp._id %>?_method=DELETE"
							method="POST"
						>
							<button class="btn btn-danger btn-sm" type="submit">
								Delete
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
