<% layout('../layout/boilerplate') %>
<div class="row">
	<div class="col-md-6 offset-3">
		<div class="card" style="width: 18rem">
			<img src="<%= camp.image %> " class="card-img-top" alt="..." />
			<div class="card-body">
				<h5 class="card-title"><%= camp.title %></h5>
				<p class="card-text"><%= camp.description %></p>
			</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item"><b>Location: </b><%= camp.location %></li>
				<li class="list-group-item"><b>Price: </b><%= camp.price %></li>
			</ul>
			<div class="card-body">
				<div class="row">
					<div class="col-md-auto">
						<a href="/campground/<%= camp._id %>/edit"
							><button class="btn btn-primary btn-sm">Edit</button></a
						>
					</div>
					<div class="col-md-auto">
						<form
							action="/campground/<%= camp._id %>?_method=DELETE"
							method="POST"
						>
							<button class="btn btn-danger btn-sm" type="submit">
								Delete
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<h2>Leave a Review</h2>
		<form
			action="/campground/<%= camp._id %>/review "
			method="post"
			class="validate"
			novalidate
		>
			<div class="form-group mb-3 col-md-6">
				<label class="form-label" for="rating">Rating:</label>
				<input
					class="form-range"
					type="range"
					min="1"
					max="5"
					name="review[rating]"
					id="rating"
				/>
			</div>
			<div class="form-group mb-3 col-md-6">
				<label class="form-label" for="body">Review:</label>
				<textarea
					class="form-control"
					name="review[body]"
					id="body"
					cols="30"
					rows="3"
					required
				></textarea>
				<div class="valid-feedback">Look good!</div>
			</div>
			<button class="btn btn-success mb-3" type="submit">Submit</button>
		</form>

		<% for (let review of camp.reviews) {%>
		<div class="card col-md-6 mb-3">
			<div class="card-body">
				<p>Rating: <%= review.rating %></p>
				<p>Review: <%= review.body %></p>
			</div>
		</div>
		<% } %>
	</div>
</div>
